rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // 拒絕所有來自前端用戶端的讀寫要求
      allow read, write: if false;
    }
  }
}